.telegramBotSection {
	display: flex;
	width: 94.583vw;
	flex-direction: column;
	align-items: center;
	gap: 4.167vw;
	margin: 0 auto 6.25vw auto;
}

.blockWithButton {
	display: flex;
	width: 42.24vw;
	flex-direction: column;
	align-items: center;
	gap: 2.083vw;
}

.headingGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25vw;
}

.lines {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.208vw;

	> p:nth-child(1) {
		color: var(--grey, #a1a1a1);
	}
}

.cardsWrapper {
	position: relative;
	height: 29.948vw;
	width: 100%;
}

.cardInfo {
	position: absolute;
	top: 2.506vw;
	left: 25.873vw;
	display: flex;
	width: 14.896vw;
	transform: rotate(-8.54deg);
	padding: 0.938vw 1.042vw;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.042vw;
	border-radius: 0.938vw;
	border: 0.052vw solid var(--white, #f8f8f8);
	background: var(--snow_white, #fff);

	/* shadow-1 */
	box-shadow: 0vw 0.885vw 1.927vw 0vw rgba(16, 55, 132, 0.03),
		0vw 3.49vw 3.49vw 0vw rgba(16, 55, 132, 0.03),
		0vw 7.813vw 4.688vw 0vw rgba(16, 55, 132, 0.02);

	> h3 {
		color: var(--black, #292929);
		font-family: 'Gilroy Medium';
		font-size: 0.885vw;
		font-style: normal;
		font-weight: 600;
		line-height: 110%;
	}

	> div {
		display: flex;
		flex-direction: column;
		gap: 0.417vw;

		> h3 {
			color: var(--black, #292929);
			font-family: 'Gilroy Medium';
			font-size: 0.885vw;
			font-style: normal;
			font-weight: 600;
			line-height: 110%;
		}

		> p {
			color: var(--grey, #a1a1a1);
			font-family: 'Gilroy Medium';
			font-size: 0.885vw;
			font-style: normal;
			font-weight: 400;
			line-height: 110%;
		}
	}

	> p {
		color: var(--grey, #a1a1a1);
		font-family: 'Gilroy Medium';
		font-size: 0.885vw;
		font-style: normal;
		font-weight: 400;
		line-height: 110%;
	}
}

.cardInfo2 {
	transform: rotate(-2.143deg);
	top: 0.271vw;
	left: 40.099vw;
}
.cardInfo3 {
	transform: rotate(5.756deg);
	top: 1.762vw;
	left: 53.911vw;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.telegramBotSection {
		width: 91.847vw;
		gap: 9.592vw;
		margin: 0 auto 14.388vw auto;
	}

	.blockWithButton {
		width: 91.847vw;
		gap: 4.796vw;
	}

	.headingGroup {
		gap: 2.878vw;
		width: 76.739vw;
	}

	.lines {
		gap: 0.48vw;
	}

	.cardsWrapper {
		height: 45.072vw;
		width: 100%;
	}

	.cardInfo {
		top: 2.391vw;
		left: 1.368vw;
		width: 34.293vw;
		transform: rotate(-8.54deg);
		padding: 2.158vw 2.398vw;
		gap: 2.398vw;
		border-radius: 2.158vw;
		border: 0.12vw solid var(--white, #f8f8f8);

		/* shadow-1 */
		box-shadow: 0vw 2.038vw 4.436vw 0vw rgba(16, 55, 132, 0.03),
			0vw 8.034vw 8.034vw 0vw rgba(16, 55, 132, 0.03),
			0vw 17.986vw 10.791vw 0vw rgba(16, 55, 132, 0.02);

		> h3 {
			font-size: 1.799vw;
		}

		> div {
			gap: 0.959vw;

			> h3 {
				font-size: 1.799vw;
			}

			> p {
				font-size: 1.799vw;
			}
		}

		> p {
			font-size: 1.799vw;
		}
	}

	.cardInfo2 {
		transform: rotate(-2.143deg);
		top: 1.7vw;
		left: 29.207vw;
	}
	.cardInfo3 {
		transform: rotate(5.756deg);
		top: 3.2vw;
		left: 56.438vw;
	}
}

@media screen and (max-width: 767px) {
	.telegramBotSection {
		width: 92.558vw;
		gap: 28px;
		margin: 0 auto 27.907vw auto;
	}

	.blockWithButton {
		width: 92.558vw;
		gap: 9.302vw;
	}

	.headingGroup {
		gap: 5.581vw;
		width: 70vw;

		> h2 {
			text-align: center;
		}
	}

	.lines {
		gap: 0.93vw;
		width: 72.093vw;

		> p {
			text-align: center;
		}
	}

	.cardsWrapper {
		height: 109.442vw;
		width: 100%;
	}

	.cardInfo {
		top: 3.849vw;
		left: 3.014vw;
		width: 51.163vw;
		transform: rotate(-8.54deg);
		padding: 4.186vw 4.651vw;
		gap: 4.651vw;
		border-radius: 4.186vw;
		border: 0.233vw solid var(--white, #f8f8f8);

		/* shadow-1 */
		box-shadow: 0vw 3.953vw 8.605vw 0vw rgba(16, 55, 132, 0.03),
			0vw 15.581vw 15.581vw 0vw rgba(16, 55, 132, 0.03),
			0vw 34.884vw 20.93vw 0vw rgba(16, 55, 132, 0.02);

		> h3 {
			font-size: 3.256vw;
		}

		> div {
			gap: 1.86vw;

			> h3 {
				font-size: 3.256vw;
			}

			> p {
				font-size: 3.256vw;
			}
		}

		> p {
			font-size: 3.256vw;
		}
	}

	.cardInfo2 {
		transform: rotate(-2.143deg);
		top: 13.805vw;
		left: 22.665vw;
	}
	.cardInfo3 {
		transform: rotate(5.756deg);
		top: 25.021vw;
		left: 39.028vw;
	}

	.buttonExp {
		width: 92.558vw;
	}
}
